<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kabino11.dndcharacterbuilder">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CurrentListActivity" />
        <activity android:name=".FeatView" />
        <activity android:name=".PassiveView" />
        <activity android:name=".PowerView" />
        <activity android:name=".StatsConfigMenu" />
        <activity android:name=".RaceSelectMenu" />
        <activity android:name=".MyClassSelectMenu" />
        <activity android:name=".SkillSelectMenu" />
        <activity android:name=".AddFeatMenu" />
        <activity android:name=".AddPowerMenu"></activity>
    </application>

</manifest>